<!DOCTYPE html>
{{ $dataTheme := "" }}
{{ if eq site.Params.style "dark-without-switcher" }}
    {{ $dataTheme = "dark" }}
{{ end }}
<html lang="{{ .Site.LanguageCode }}" data-theme="{{ $dataTheme }}">
<head>
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
</head>
<body>
    <a class="skip-main" href="#main">{{ i18n "skipToContent" | humanize }}</a>
    <div class="container{{ cond .Site.Params.hasAside " has-aside" "" }}">
        <header class="common-header">
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}
        </header>
        <main id="main" tabindex="-1">
            <div class="main-column">
                {{ block "main" . }}{{ end }}
            </div>
            {{ if .Site.Params.hasAside }}
                <aside class="{{ cond .Site.Params.asideSticky "sticky" "" }}">
                    {{ partial "main-aside.html" . }}
                </aside>
            {{end}}
        </main>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>

    <!-- GET BACK TO NETLIFY CMS AFTER LOGIN -->
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", function (user) {
                if (!user) {
                    window.netlifyIdentity.on("login", function () {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>
</html>
