<h1 class="site-title">
    <a href="{{ .Site.BaseURL | relLangURL }}" class="border-none">
        {{ if .Site.Params.siteLogo }}
            {{ $logoSize := cond (isset .Site.Params.siteLogo "size") .Site.Params.siteLogo.size 56 }}
            <img src="{{ .Site.Params.siteLogo.url }}"
                width="{{ $logoSize }}"
                height="{{ $logoSize }}"
                alt="{{ .Site.Title }}">
        {{ end }}
        <span>{{ .Site.Title }}</span>
    </a>
</h1>
{{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        {{ if eq .Site.Params.themeSwitcherPosition "header" }}
            {{ partial "themeSwitcher.html" . }}
        {{ end }}
    </nav>
{{ else }}
    <nav></nav>
{{ end }}

{{ partial "header-extra.html" . }}